/HienThiDanhSachKhachHang/nbproject/private/
/HienThiDanhSachKhachHang/build/
/HienThiDanhSachKhachHang/dist/
/ListViewCustomer/nbproject/private/
/ListViewCustomer/build/
/ListViewCustomer/dist/
/SimpleCaculate/nbproject/private/
/SimpleCaculate/build/
/ProductManagement/nbproject/private/
/ProductManagement/build/
/ProductManagement/dist/